/tmp
/var
/log
/config
/uploads
/root/forum/cache
/root/forum/.buildpath
/root/forum/.project
/root/forum/.settings
/root/forum/images/avatars/upload
/root/forum/files/
/root/tmp

*~
*.swp

# node js
node_modules
npm-debug.log
bower_components

/v2/forum/cache
/v2/forum/.buildpath
/v2/forum/.project
/v2/forum/.settings
/v2/forum/images/avatars/upload
/v2/forum/files/
