/* main layout */
html {
  padding-top: 50px;
  overflow-y: scroll;
}

.container {
  max-width: 960px;
}

.sidebar {
  margin-top: 20px;
}

h1 {
  padding-bottom: 9px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
  color: #767676;
  text-align: center;
}

footer p {
  margin-bottom: 1px;
}

/* common tools */
.anchor {
  position: relative;
  float: left;
  left: 0;
  top: -50px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.li-leader {
  float: left;
  left: -1.2em;
  top: 0.2em;
  width: 0px;
}

.x2 {
  font-size: 2em;
}

.right-spacer {
  margin-right: 0.5em;
}

.right-side {
  float: right;
}

.vcenter {
  vertical-align: middle !important;
}

/* download page */
.list-download {
  margin-bottom: 10px;
}

/* development page */
.progress-language {
  margin-bottom: 0px;
}

/* forum */
.forum {
  font-size: 0.85em;
}

.forum h2 {
  font-size: 2em;
}

.forum h3 {
  font-size: 1.05em;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.breadcrumb-forum {
  margin-top: 10px;
}

.list-right-side {
  float: right;
}

.list-right-side li {
  margin-left: 10px;
  float: right;
}

.breadcrumb-line2 {
  margin-top: 3px;
  padding-top: 3px;
  border-top: 1px solid #fff;
}

.table-forum-list>thead>tr>th {
  background-color: #337ab7;
  color: #fff;
  border-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.table-forum-list>thead>tr>th>a {
  color: #fff;
}
.table-forum-list>tbody>tr>td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.table-forum-list>thead>tr>th:first-child {
  border-top-left-radius: 0 !important;
  padding-left: 20px;
}
.table-forum-list>thead>tr>th:last-child {
  border-top-right-radius: 0 !important;
}
.table-forum-list>tbody>tr>td:first-child {
  padding-left: 20px;
}

.btn-group-readpost {
  margin-bottom: 5px;
}

.navbar-footer-forum>li>a, .navbar-footer-forum>a {
  font-size: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
}
.navbar-footer-forum {
  min-height: 0;
  margin-bottom: 0;
}
.field-forum footer {
  margin-top: 0;
  border-top: 0;
}

.topic-actions form {
  display: inline-table;
  margin-bottom: 10px;
}

.pagination-forum {
  float: right;
  margin: 0;
  vertical-align: middle;
}
.pagination-forum>li>a {
  padding: 5px 12px;
  height: 30px;
}
.pagination-sm>li>a {
  font-size: 0.85em;
  height: auto;
  padding: 3px 6px;
}

/* fixup: express-debug covered by bootstrap */
#EDT {
  z-index: 9999 !important;
}
