html {
  padding-top: 50px;
  overflow-y: scroll;
}

.container {
  max-width: 960px;
}

.anchor {
  position: relative;
  float: left;
  left: 0;
  top: -50px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.sidebar {
  margin-top: 20px;
}

.page-header {
  margin-top: 20px;
}

.li-leader {
  float: left;
  left: -1.2em;
  top: 0.2em;
  width: 0px;
}

.list-download {
  margin-bottom: 10px;
}

.progress-language {
  margin-bottom: 0px;
}

.x2 {
  font-size: 2em;
}

/* fixup: express-debug covered by bootstrap */
#EDT {
  z-index: 9999 !important;
}
