<%= render "parts/header.rhtml", "Home" %>
<h1>Welcome to Kingsoft Office International Community</h1>
<ul>
	<li>AAA</li>
	<li>BBB</li>
</ul>
<h1>Lastest Announcements</h1>

<%= render "parts/tail.rhtml" %>
