extends /layouts/application.jade

block title
  title Page Not Found - WPS Office Community

block content
  h1 Page Not Found
  p Oh no! You've taken a turn to somewhere we don't know exists :o
  p If you can provide details on why this happened, please #[a(href="mailto:linux_wps@kingsoft.com") contact us].
  dt Details:
  pre= info
