extends /layouts/application.jade

block title
  title Page Not Found - WPS Office Community

block content
  h1 Page Not Found
  p 
    | Sorry, the page you visit does not exist, the problem we have been recorded. If you can provide more details, please 
    a(href='mailto:linux_wps@kingsoft.com') contact
    |  us.
    dt Details:
    pre= info
