title={PAGE_TITLE} - Kingsoft WPS Office Community

<a id="top" name="top" accesskey="t"></a>
<ol class="breadcrumb breadcrumb-forum">
	<li><a href="{U_INDEX}" accesskey="h"><span class='glyphicon glyphicon-home right-spacer'></span>{L_INDEX}</a></li>
	<!-- BEGIN navlinks --><li><a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a></li><!-- END navlinks -->
	<a></a>
	<ol class="list-right-side list-unstyled">
		<li><a href="#" onclick="fontsizeup(); return false;" onkeypress="return fontsizeup(event);" class="fontsize" title="{L_CHANGE_FONT_SIZE}">{L_CHANGE_FONT_SIZE}</a></li>
		<!-- IF U_EMAIL_TOPIC --><li><a href="{U_EMAIL_TOPIC}" title="{L_EMAIL_TOPIC}" class="sendemail">{L_EMAIL_TOPIC}</a></li><!-- ENDIF -->
		<!-- IF U_EMAIL_PM --><li><a href="{U_EMAIL_PM}" title="{L_EMAIL_PM}" class="sendemail">{L_EMAIL_PM}</a></li><!-- ENDIF -->
		<!-- IF U_PRINT_TOPIC --><li><a href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}" accesskey="p" class="print">{L_PRINT_TOPIC}</a></li><!-- ENDIF -->
		<!-- IF U_PRINT_PM --><li><a href="{U_PRINT_PM}" title="{L_PRINT_PM}" accesskey="p" class="print">{L_PRINT_PM}</a></li><!-- ENDIF -->
	</ol>
	<div class="breadcrumb-line2 clearfix">
			<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
			<ul class="list-unstyled leftside">
				<li class="icon-ucp">
					<a href="{U_PROFILE}" title="{L_PROFILE}" accesskey="e">{L_PROFILE}</a>
						<!-- IF S_DISPLAY_PM --> (<a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>)<!-- ENDIF -->
					<!-- IF S_DISPLAY_SEARCH --> &bull;
					<a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a>
					<!-- ENDIF -->
					<!-- IF U_RESTORE_PERMISSIONS --> &bull;
					<a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a>
					<!-- ENDIF -->
				</li>
			</ul>
			<!-- ENDIF -->
			<ul class="list-unstyled right-side">
				<!-- IF not S_IS_BOT -->
					<!-- IF S_DISPLAY_MEMBERLIST --><li class="icon-members"><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}">{L_MEMBERLIST}</a></li><!-- ENDIF -->
					<!-- IF S_USER_LOGGED_IN -->
						<li class="icon-logout"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x">{L_LOGIN_LOGOUT}</a></li>
					<!-- ELSE -->
						<li class="icon-login">{L_LOGIN_AS}: <a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x">
							<img src="{T_THEME_PATH}/images/google.png" style="vertical-align: -15%"/>
						</a></li>
					<!-- ENDIF -->
				<!-- ENDIF -->
			</ul>
	</div>
</ol>

<a name="start_here"></a>
<div id="page-body">
	<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
	<div id="information" class="rules">
		<div class="inner"><span class="corners-top"><span></span></span>
			<strong>{L_INFORMATION}:</strong> {L_BOARD_DISABLED}
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->
